*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body {
  font-family: "Poppins", sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: black;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

P,
li,
span,
label,
input,
textarea {
  color: black;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.section1 {
  background-color: #eaeaea;
  border-bottom: 1px solid #c1c1c1;
  overflow: auto;
}

.section2 {
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
  overflow: auto;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
.header-greeting-wrapper {
  display: grid;
  align-content: center;
  text-align: center;
  min-height: 10em;
}
.header-intro-wrapper {
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nav-wrapper nav-wrapper" "left-column right-column";
}
.header-nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid #c1c1c1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
}
.header-dots-wrapper {
  display: flex;
  padding: 10px;
}
.header-dots-wrapper #dot-1 {
  background-color: #fc6058;
}
.header-dots-wrapper #dot-2 {
  background-color: #f3c02f;
}
.header-dots-wrapper #dot-3 {
  background-color: #2aca3e;
}
.header-browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
.header #navigation {
  margin: 0;
  padding: 10px;
}
.header #navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.header-left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-left-column #profile_pic {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 2px solid #c1c1c1;
}
.header-theme-option-wrapper {
  display: flex;
  justify-content: center;
}
.header-theme-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background: black;
  margin: 5px;
  border: 2px solid #24292e;
}
.header-theme-dot:hover {
  border-width: 5px;
}
.header-light-mode {
  background-color: #fff;
}
.header-blue-mode {
  background-color: #1c4266;
}
.header-green-mode {
  background-color: #78866b;
}
.header-purple-mode {
  background-color: #7e4c74;
}
.header-setting-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.header-right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header-preview-shadow {
  background-color: #f0ead6;
  width: 300px;
  height: 100px;
  padding-left: 30px;
  padding-top: 30px;
}
.header-preview {
  width: 300px;
  border: 1.5px solid #17a2b8;
  background-color: rgba(251, 249, 243, 0.8);
  padding: 15px;
  position: relative;
}
.header-conner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}
.header #conner-tl {
  top: -5px;
  left: -5px;
}
.header #conner-tr {
  top: -5px;
  right: -5px;
}
.header #conner-bl {
  bottom: -5px;
  left: -5px;
}
.header #conner-br {
  bottom: -5px;
  right: -5px;
}

@media screen and (max-width: 800px) {
  .header-intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "nav-wrapper " "left-column" "right-column";
  }
  .header-right-column {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
