*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}
body {
  min-height: 100vh;
  line-height: 1.5;
}
input,
button,
select,
textarea {
  font: inherit;
}
img,
picture {
  display: block;
  max-width: 100%;
}
/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: $main-text;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: $main-text;
  font-family: "Russo One", sans-serif;
  font-weight: 500;
}

P,
li,
span,
label,
input,
textarea {
  color: $main-text;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}
.section1 {
  background-color: $main-color;
  border-bottom: 1px solid $border-color;
  overflow: auto;
}
.section2 {
  background-color: $secondary-color;
  border-bottom: 1px solid $border-color;
  overflow: auto;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}
