$font: "Poppins", sans-serif;
$brown-color: #55423d; //background-color
$heading-color: #fffffe; //heading
$text-color: #fff3ec; //text
$primary-color: #ffc0ad; //button
$secondary-color: #ffc0ad;
$tertiary-color: #9656a1;
$brown-dark-color: #271c19; //button text
